$main_black: #181717;
$main_grey: #606060;
$main_accent: #4CC9F0;
$main_white: #FFFFFF;

* {
  background-color: $main_white;
  color: $main_black;
}

body {
  width:90%;
  max-width: 1140px;
  margin: 0 auto;
}

// ------------- NAVBAR
.navbar{
  width: 100%;
}

.navbar-brand {
  letter-spacing: .1rem;
}

// ------------- SPOTLIGHT
.spotlight-left{
  padding-bottom: 15vh;
  position: grid;
}

.front-header{
  font-size: 4rem;
  line-height: .9;
}

.front-subheader{
  font-size: 1.6rem;
  padding-top: 18px;
  padding-right: 10vw;
}

.front-spotlight-text{
  grid-area: 1 / 1 / 2 / 2;
}

.front-circle {
  background-color: $main_accent;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  left: 300px;
  margin-left: 200px;
}

.spotlight-right{
  text-align: right;
}

.spotlight-image{
  width: auto;
  height: 83vh;
  border-radius: 15px;
}


.blue-block {
  background: $main_white;
  background: linear-gradient(180deg, $main_white 0%, $main_white 50%, $main_accent 50%, $main_accent 100%);
}